@import 'tailwindcss';
@tailwind utilities;

@theme {
	--color-avtoVitaGold: #ffd700;
	--color-avtoVitaGoldDark: #b78d37;
	--color-avtoVitaBlack: #121212;
}

body {
	background-color: white;
}

select:focus,
select:active {
	outline: none !important;
}

select {
	cursor: pointer;
}

.slick-slide[aria-hidden='true'] {
	pointer-events: none;
	opacity: 0.5;
	transform: scale(0.95);
}

.slick-arrow {
	display: flex !important;
	align-items: center;
	justify-content: center;
	z-index: 50 !important;
	opacity: 1 !important;
	transition: opacity 0.3s ease;
	position: absolute !important;
}

.slick-arrow.slick-prev {
	left: 10px !important;
}

.slick-arrow.slick-next {
	right: 10px !important;
}

.slick-arrow:hover {
	opacity: 0.8;
}

.css-1jsxt1n-control {
	min-height: 50px !important;
}
