@import 'tailwindcss';
@tailwind utilities;

@theme {
	--color-avtoVitaGold: #ffd700;
	--color-avtoVitaGoldDark: #b78d37;
	--color-avtoVitaBlack: #121212;
}

body {
	background-color: white;
}

select:focus,
select:active {
	outline: none !important;
}

select {
	cursor: pointer;
}
